body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 1.5em;
}

h1 {
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    color: #66BFBF;
    /* line-height: 2; */
    font-weight: 450;
}

h2 {
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    color: #11999E;
}

a {
    color: #11999E;
    text-decoration: none;
}

.top-container {
    /* background: #c0392b;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to left, #8e44ad, #c0392b);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to left, #8e44ad, #c0392b); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    color: #7659ff;
}

.middle-container {
    
}

.bottom-container {
    
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.chillies-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

/* .chillies-skill-description {
    clear: left;
} */

.computer-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

/* .computer-skill-description {
    clear: right;
} */
.skill-title-description {
    clear: both;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }